<div class="header">
    <div class="container">
        <div class="header-content">
            <a href="#" class="logo" data-page="home">
                <div class="logo-icon">
                    <i class="fas fa-chart-network"></i>
                </div>
                <span>GraphzLive</span>
            </a>
            
            <nav class="nav">
                <a href="#" data-page="home" class="nav-link">
                    <i class="fas fa-home"></i> Home
                </a>
                
                {{#if auth}}
                <a href="#" data-page="profile" class="nav-link">
                    <i class="fas fa-user"></i> Profile
                </a>
                {{/if}}
                
                {{#if graphs}}
                <a href="#" data-page="graphs" class="nav-link">
                    <i class="fas fa-chart-bar"></i> Graphs
                </a>
                {{/if}}
            </nav>
            
            <div data-component="auth-buttons">
                <!-- Auth buttons will be injected by auth module -->
            </div>
        </div>
    </div>
  </div>
